@charset "utf-8";
@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700");
@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css");

html,body{width:100%;height:100%;font-family:'Roboto', 'Noto Sans KR', '돋움', dotum, AppleGothic, sans-serif;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0;padding:0}
body,h1,h2,h3,h4,input,button{font-size:13px;color:#000;font-weight:normal;}
body{background:#fff;}
img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button,textarea{vertical-align:middle;}
img{vertical-align:middle;}
i,em,address{font-style:normal;}
label,button{cursor:pointer}
button{
    margin:0;
    padding:0;
    border: 0;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
}
*{
    box-sizing: border-box;
    font-size: 13px;
}
a{color:#000;text-decoration:none}
a:hover{color:#000;text-decoration:none}
hr{display:none}
legend{*width:0}
table{border-collapse:collapse;table-layout:fixed;border-spacing:0;}
@keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-moz-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-webkit-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-o-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-moz-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-webkit-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-o-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}

@-moz-keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}

@-webkit-keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}

@-o-keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}
.loading-container,
.loading {
    height: 100px;
    position: relative;
    width: 100px;
    border-radius: 100%;
    z-index: 9;
}


.loading-container {
    margin: 40px auto;
    position: fixed;
    top: 50%;left: 50%;
    transform: translate(-50%, -50%);
}

.loading {
    border: 2px solid transparent;
    border-color: transparent #fff transparent #FFF;
    -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
    -moz-transform-origin: 50% 50%;
    -o-animation: rotate-loading 1.5s linear 0s infinite normal;
    -o-transform-origin: 50% 50%;
    -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
    -webkit-transform-origin: 50% 50%;
    animation: rotate-loading 1.5s linear 0s infinite normal;
    transform-origin: 50% 50%;
}

.loading-container:hover .loading {
    border-color: transparent #E45635 transparent #E45635;
}
.loading-container:hover .loading,
.loading-container .loading {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#loading-text {
    -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
    -o-animation: loading-text-opacity 2s linear 0s infinite normal;
    -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
    animation: loading-text-opacity 2s linear 0s infinite normal;
    color: #ffffff;
    font-family: "Helvetica Neue, "Helvetica", ""arial";
    font-size: 10px;
    font-weight: bold;
    margin-top: 45px;
    opacity: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100px;
}

.wrap-mask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.7;
    z-index: 4;
}
input[type=checkbox]{
    display:inline-block;
    position:relative;
    width: 20px;
    height: 20px;
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    background:url(../img/ico_check-type01-off.png) no-repeat;
    margin:0;
    background-size:100%;
    outline:0;
    vertical-align:middle;
}
input[type=checkbox]:checked{
    background-image:url(../img/ico_check-type01-on.png);
}

.wrap{
    position: relative;
    z-index: 1;
    padding-top: 45px;
}
.wrap>header{
    height: 45px;
    position: relative;
    text-align: center;
    background: linear-gradient(to right, #ff6a5b 0%,#ff6a5b 75%,#ff905b 100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}
/*
.wrap>header>h1{
    color: #fff;
    line-height: 46px;
    font-size: 16px;
    font-weight: 600;
}
*/
.wrap>header>h1{
    color: #fff;
    line-height: 46px;
    font-size: 0;
    background: url('../img/logo.png') no-repeat 50% 50%;
    background-size: auto 23px;
}

.wrap>header>button{
    position: absolute;
    top: 0;
    width: 45px;
    height: 45px;
    overflow: hidden;
    font-size: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.wrap>header>.btn-basket{
    background-image: url('../img/ico_basket.png');
    right: 5px;
    background-size: auto 22px;
}
.wrap>header>.btn-basket>span{
    background: #fff;
    color: #ff5645;
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 11px;
    padding: 0 5px;
    height: 15px;
    line-height: 15px;
    border-radius: 20px;
}
.wrap>header>.btn-search{
    background-image: url('../img/ico_search.png');
    right: 50px;
    background-size: auto 20px;
}
.wrap>footer{
    background-color: #fff;
    position: relative;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    box-shadow: 0px -2px 2px 0px rgba(50, 50, 50, 0.25);

}
.wrap>footer>img{
    max-width: 400px;
    width: 100%;
}
.wrap>footer>ul{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    height: 100%;
}
.wrap>footer>ul>li{
    float: left;
    width: 25%;
    height: 100%;
}
.wrap>footer>ul>li>a{
    font-size: 0;
    display: block;
    height: 100%;
}
.wrap>.container>.top{
    height: 40px;
    line-height: 40px;
    position: relative;
}
.wrap>.container>.top>h2{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
.wrap>.container>.sorting{
    background-color: #f3f2f4;
    padding: 15px;
    padding-bottom: 0;
}
.wrap>.container>.sorting:after{
    content: '';
    clear: both;
    display: block;
}
.wrap>.container>.sorting>span{
    float: left;
    font-weight: 600;
}
.wrap>.container>.sorting>a{
    float: right;
    background: url('../img/ico_sorting.png') no-repeat 100% 50%;
    background-size: auto 5px;
    padding-right: 15px;
}
.wrap>.container>.top>.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    overflow: hidden;
    font-size: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: auto 17px;
    background-image: url('../img/ico_back.png');
}
.wrap>.container>.top.top_left>h2{
    text-align: left;
    padding-left: 40px;
}
.wrap>.container>.list-more{
    padding: 20px 0;
    text-align: center;
    background-color: #f3f2f4;
}
.wrap>.container>.list-more>button{
    width: 50px;
    height: 50px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: auto 50px;
    background-image: url('../img/ico_list_more.png');
    font-size: 0;
}
.basket-area{
    padding-bottom: 80px;
}
.basket-area>.item{
    background-color: #f3f2f4;
    padding: 15px;
}
.basket-area>.item>.item-all{
    margin-bottom: 10px;
    display: block;
    font-size: 13px;
    font-weight: 600;
}
.basket-area>.item>ul{
    background-color: #fff;
}
.basket-area>.item>ul>li{
    position: relative;
    padding: 10px 10px 10px 40px;
    border-bottom: 1px solid #f3f2f4;
}
.basket-area>.item>ul>li>.del{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0;
    background:  url('../img/ico_del01.png') no-repeat 50% 50%;
    width: 12px;
    height: 12px;
    background-size: 100% auto;
}
.basket-area>.item>ul>li:last-child{
    border-bottom: 0;
}
.basket-area>.item>ul>li>label{
    position: absolute;
    top: 10px;
    left: 10px;
}
.basket-area>.item>ul>li:after{
    content: '';
    clear: both;
    display: block;
}
.basket-area>.item>ul>li>.item-thomb{
    border: 1px solid #eee;
    display: inline-block;
    float: left;
    position:relative;
}
.basket-area>.item>ul>li>.item-thomb>img{
    width: 55px;
}
.basket-area>.item>ul>li>.item-thomb.mike:before{
    content: '';
    width: 17px;
    height: 17px;
    position:absolute;
    bottom: 0;
    right: 0;
    background: url('../img/ico_mike.png') no-repeat 50% 50%;
    background-size: 100% auto;
}
.basket-area>.item>ul>li>p{
    display: inline-block;
    float: right;
    width: calc(100% - 75px);
    font-weight: 600;
}
.basket-area>.item>ul>li>.item-name{
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 14.5px;
}
.basket-area>.item>ul>li>input[type=number]{
    width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    position: absolute;
    top: 38px;
    right: 10px;
}
.basket-area>.item>ul>li>.item-message{
    display: block;
    margin-top: 10px;
    float: left;
    width: 100%;
    border-top: 1px solid #f3f2f4;
    padding-top: 10px;
}
.basket-area>.item>ul>li>.item-message>p{
    float: left;
    color: #666666;
}
.basket-area>.item>ul>li>.item-message>a{
    float: right;
    position:relative;
    color: #92918e;
    font-size: 12px;
}
.basket-area>.item>ul>li>.item-message>a:after{
    content: '';
    background: url('../img/ico_arrow-bottom.png') no-repeat 50% 50%;
    background-size: 100% auto;
    width: 10px;
    height: 13px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    position: relative;
    top: -1px;
}
.basket-area>.item>.unit-area{
    background-color: #fff;
    border: 1px solid #ff6a5b;
    padding: 10px;
}
.basket-area>.item>.unit-area:after{
    content: '';
    clear: both;
    display: block;
}
.basket-area>.item>.unit-area>.item-unit{
    float: left;
}
.basket-area>.item>.unit-area>.item-unit>p:first-child{
    margin-bottom: 5px;
}
.basket-area>.item>.unit-area>.item-unit>p>span{
    font-weight: 600;
    font-size: 12px;
}
.basket-area>.item>.unit-area>.item-unit>p>strong{
    color: #ff6a5b;
    font-weight: normal;
    font-size: 11px;
}
.basket-area>.item>.unit-area>.unit-price{
    float: right;
    font-size: 13px;
}
.basket-area>.total-area{
    padding: 15px;
}
.basket-area>.total-area>ol{
    border-bottom: 1px solid #f3f2f4;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.basket-area>.total-area>ol>li{
    margin-bottom: 15px;
}
.basket-area>.total-area>ol>li:last-child{
    margin-bottom: 0;
}
.basket-area>.total-area>ol>li:after{
    content: '';
    clear: both;
    display: block;
}

.basket-area>.total-area>ol>li>span{
    float: left;
}
.basket-area>.total-area>ol>li>strong{
    float: right;
}
.basket-area>.total-area>ol>li>em{
    float: left;
    width: 100%;
    margin-top: 10px;
    color: #ff6a5b;
    font-size: 11px;
}
.basket-area>.total-area>.total-price:after{
    content: '';
    clear: both;
    display: block;
}
.basket-area>.total-area>.total-price>strong{
    float: left;
    font-size: 15px;
}
.basket-area>.total-area>.total-price>p{
    float: right;
}
.basket-area>.total-area>.total-price>p>strong{
    font-size: 17px;
    color: #ff6a5b;
}
.basket-area>.btn_area{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #fff;
}

.basket-area>.btn_area>button{
    float: left;
    height: 48px;
    line-height: 48px;
}
.basket-area>.btn_area>.btn-del{
    width: 48px;
    background: url('../img/ico_trash.png') no-repeat 50% 50%;
    background-size: 20px auto;
    font-size: 0;
    border: 1px solid #ff6a5b;
}
.basket-area>.btn_area>.btn-order{
    width: calc(100% - 48px);
    text-align: center;
    color: #fff;
    background-color: #ff6a5b;
    position: relative;
    font-size: 17px;
    font-weight: 600;
}
.basket-area>.btn_area>.btn-order>span{
    font-size: 17px;
    font-weight: 600;
}
.basket-area>.btn_area>.btn-order>strong{
    font-size: 17px;
    font-weight: 600;
}
.modal{
    display: none;
}
.modal.recommend{
    position: fixed;
    left: 0;
    bottom: -300px;
    width: 100vw;
    background-color: #fff;
    z-index: 5;
}
.modal>.header{
    position: relative;
    height: 40px;
    line-height: 40px;
}
.modal>.header:after{
    content: '';
    clear: both;
    display: block;
}
.modal>.header>h1{
    font-size: 15px;
    font-weight: 600;
    padding: 0 10px;
}
.modal>.header>h1>span{
    font-size: 15px;
}
.modal>.header>button{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 0;
    width: 30px;
    height: 30px;
    background-image: url('../img/ico_del02.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;
}
.modal>.swiper-container{
    height: 245px;
}
.modal>.swiper-container .swiper-slide{
    width: 100px;
}
.modal>.swiper-container .swiper-slide>.thomb{
    width: 100%;
    border: 1px solid #eee;
    margin-bottom: 10px;
}
.modal>.swiper-container .swiper-slide>.item-name{
    font-size: 13px;
    /* margin-bottom: 0px; */
    line-height: 16px;
}
.modal>.swiper-container .swiper-slide>.item-price{
    font-size: 15px;
    font-weight: 600;
}
.modal>.swiper-container .swiper-slide>button{
    color: #ff5645;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50px;
    position: relative;
    padding-top: 22px;
}
.modal>.swiper-container .swiper-slide>button:before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../img/ico_change.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.checkout-area{
    padding-bottom: 80px;
}
.checkout-area select,
.checkout-area input[type=number],
.checkout-area input[type=text]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    border: 1px solid #ddd;
    height: 35px;
    line-height: 35px;
    width: 100%;
    padding: 0 10px;
    color: #888;
}
.checkout-area select{
    background-image: url('../img/ico_select.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) 50%;
    background-size: auto 9px;
}

.checkout-area>.btn_area{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #fff;
}

.checkout-area>.btn_area>button{
    float: left;
    height: 48px;
    line-height: 48px;
}
.checkout-area>.btn_area>.btn-order{
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #ff6a5b;
    position: relative;
    font-size: 17px;
    font-weight: 600;
}
.checkout-area>.btn_area>.btn-order>span{
    font-size: 17px;
    font-weight: 600;
}
.checkout-area>.btn_area>.btn-order>strong{
    font-size: 17px;
    font-weight: 600;
}
.checkout-area>section{
    background-color: #fff;
    padding: 15px;
}
.checkout-area>.item{
    background-color: #f3f2f4;
}
.checkout-area>.item>h3{
    margin-bottom: 10px;
}
.checkout-area>.item>h3>strong{
    font-size: 13px;
}
.checkout-area>.item>h3>span{
    font-size: 12px;
    color: #ff6a5b;
}
.checkout-area>.item>.order-item{
    border: 1px solid #ff6a5b;
    background-color: #fff;
    padding: 15px;
    position: relative;
}
.checkout-area>.item>.order-item>h4{
    margin-bottom: 5px;
    vertical-align: top;
}
.checkout-area>.item>.order-item>h4>strong{
    font-size: 14.5px;
    vertical-align: top;
}
.checkout-area>.item>.order-item>h4>strong:after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: #ccc;
    margin-left: 5px;
    margin-right: 3px;
    vertical-align: middle;
}
.checkout-area>.item>.order-item>h4>span{
    color: #ff6a5b;
    font-size: 14.5px;
    font-weight: 600;
    vertical-align: top;
}
.checkout-area>.item>.order-item>p{
    font-size: 12px;
}
.checkout-area>.item>.order-item>p>strong{
    font-size: 14px;
}
.checkout-area>.item>.order-item>button{
    font-size: 0;
    width: 17px;
    height: 10px;
    background-image: url('../img/ico_order_more.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;
    position: absolute;
    top: 18px;
    right: 15px;
}
.checkout-area>.item>ul{
    background-color: #fff;
    /* display: none; */
}
.checkout-area>.item>ul>li{
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #f3f2f4;
}
.checkout-area>.item>ul>li:last-child{
    border-bottom: 0;
}
.checkout-area>.item>ul>li>label{
    position: absolute;
    top: 10px;
    left: 10px;
}
.checkout-area>.item>ul>li:after{
    content: '';
    clear: both;
    display: block;
}
.checkout-area>.item>ul>li>.item-thomb{
    border: 1px solid #eee;
    display: inline-block;
    float: left;
    position:relative;
}
.checkout-area>.item>ul>li>.item-thomb>a>img{
    width: 55px;
}
.checkout-area>.item>ul>li>.item-thomb.mike:before{
    content: '';
    width: 17px;
    height: 17px;
    position:absolute;
    bottom: 0;
    right: 0;
    background: url('../img/ico_mike.png') no-repeat 50% 50%;
    background-size: 100% auto;
}
.checkout-area>.item>ul>li>p{
    display: inline-block;
    float: right;
    width: calc(100% - 75px);
    font-weight: 600;
}
.checkout-area>.item>ul>li>.item-name{
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 14.5px;
}
.checkout-area>.reserve input[type=radio]{
    display:inline-block; 
    position:relative; 
    width:20px; 
    height:20px; 
    appearance:none; 
    -webkit-appearance:none; 
    -moz-appearance:none; 
    background:url(../img/ico_res_off.png) no-repeat; 
    margin:0; 
    background-size:100%; 
    outline:0; 
    vertical-align:middle;
}
.checkout-area>.reserve input[type=radio]:checked{
    background-image:url(../img/ico_res_on.png);
}
.checkout-area>.reserve>h3{
    margin-bottom: 5px;
    font-weight: 600;
}
.checkout-area>.reserve>table{
    width: 100%;
    border: 1px solid #eee;
    border-bottom: 0;
}
.checkout-area>.reserve>table>thead>tr>th{
    background-color: #f7f7f7;
    height: 35px;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
}
.checkout-area>.reserve>table>thead>tr>th:first-child{
    border-left: 0;
}
.checkout-area>.reserve>table>tbody>tr>th,
.checkout-area>.reserve>table>tbody>tr>td{
    height: 35px;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    border-bottom: 1px solid #eee;
}

.checkout-area>.shipping{
    background-color: #ffe9de;
}
.checkout-area>.shipping>div{
    background-color: #fff;
    padding: 15px;
}
.checkout-area>.shipping>.site{
    margin-bottom: 10px;
}
.checkout-area>.shipping>.site>.ship-name{
    margin-bottom: 5px;
}
.checkout-area>.shipping>.site>.ship-name:after{
    clear: both;
    display: block;
    content: '';
}
.checkout-area>.shipping>.site>.ship-name>strong{
    font-size: 15px;
    float: left;
}
.checkout-area>.shipping>.site>.ship-name>button{
    float: right;
    color: #fff;
    background-color: #ccc;
    padding: 5px 10px;
    font-size: 12px;
}
.checkout-area>.shipping>.site>.address>p:first-child{
    margin-bottom: 5px;
}
.checkout-area>.shipping>.site>.address>p>span:first-child:after{
    clear: both;
    content: '│';
    display: inline-block;
    margin-left: 3px;
    color: #ccc;
}
.checkout-area>.shipping>.ship-memessage>p{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}
.checkout-area>.shipping>.ship-memessage>.input-text{
    position: relative;
}
.checkout-area>.shipping>.ship-memessage>.input-text>button{
    background-image: url('../img/ico_write.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 20px;
    font-size: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
}
.checkout-area>.sale{
    border-bottom: 1px solid #dfdfdf;
}
.checkout-area>.sale>h3{
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.checkout-area>.sale>hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 1px solid #ddd;
    display: block;
}
.checkout-area>.sale>div>h4{
    margin-bottom: 10px;
}
.checkout-area>.sale>div>h4>strong{
    font-size: 14.5px;
}
.checkout-area>.sale>div>h4>span{
    font-size: 14px;
    color: #ff6a5b;
    font-weight: 600;
}
.checkout-area>.sale>div>p:after{
    clear: both;
    display: block;
    content: '';
}
.checkout-area>.sale>div>p>input[type=number]{
    width: calc(100% - 80px);
    float: left;
}
.checkout-area>.sale>div>p>button{
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #ff6a5b;
    width: 78px;
    color: #ff6a5b;
    float: right;
}
.checkout-area>.total{
    padding: 15px;
}
.checkout-area>.total>h3{
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.checkout-area>.total>ol{
    border-bottom: 1px solid #f3f2f4;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.checkout-area>.total>ol>li{
    margin-bottom: 15px;
}
.checkout-area>.total>ol>li:last-child{
    margin-bottom: 0;
}
.checkout-area>.total>ol>li:after{
    content: '';
    clear: both;
    display: block;
}

.checkout-area>.total>ol>li>span{
    float: left;
}
.checkout-area>.total>ol>li>strong{
    float: right;
}
.checkout-area>.total>ol>li>em{
    float: left;
    width: 100%;
    margin-top: 10px;
    color: #ff6a5b;
    font-size: 11px;
}
.checkout-area>.total>.total-price:after{
    content: '';
    clear: both;
    display: block;
}
.checkout-area>.total>.total-price>strong{
    float: left;
    font-size: 15px;
}
.checkout-area>.total>.total-price>p{
    float: right;
}
.checkout-area>.total>.total-price>p>strong{
    font-size: 17px;
    color: #ff6a5b;
}
.checkout-area>.payment>h3{
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
}
.checkout-area>.payment>.radioBox:after{
    content: '';
    clear: both;
    display: block;
}
.checkout-area>.payment>.radioBox>label{
    float: left;
    width: 50%;
    height: 20px;
    margin-bottom: 10px;
}
.checkout-area>.payment>.radioBox input[type=radio]{
    display:inline-block; 
    position:relative; 
    width:20px; 
    height:20px; 
    appearance:none; 
    -webkit-appearance:none; 
    -moz-appearance:none; 
    background:url(../img/ico_payment_off.png) no-repeat; 
    margin:0; 
    background-size:100%; 
    outline:0; 
    vertical-align:top;
    margin-right: 5px;
}
.checkout-area>.payment>.radioBox input[type=radio]:checked{
    background-image:url(../img/ico_payment_on.png);
}
.checkout-area>.payment>dl>dt{
    background-color: #fff6ce;
    margin-bottom: 5px;
    height: 35px;
}
.checkout-area>.payment>dl>dt>label{
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    position: relative;
    display: block;
}
.checkout-area>.payment>dl>dt>label>input[type=checkbox]{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.checkout-area>.payment>dl>dd{
    background-color: #f7f7f7;
    padding: 15px 10px;
}
.checkout-area>.payment>dl>dd>p{
    line-height: 1.14;
    position: relative;
    padding-left: 10px;
}
.checkout-area>.payment>dl>dd>p:first-child{
    margin-bottom: 10px;
}
.checkout-area>.payment>dl>dd>p:before{
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #000;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.checkout-area>.payment>dl>dd>p>span{
    color: #ff6a5b;
}
.checkout-area>.payment>dl>dd>p>strong{
    font-weight: normal;
}

.checkout-area>.agree{
    background-color: #f7f7f7;
    padding: 15px;
}
.checkout-area>.agree>dt{
    margin-bottom: 10px;
    font-weight: 600;
}
.checkout-area>.agree>dd{
    margin-bottom: 10px;
    margin-left: 25px;
}

.completed-area>h3{
    text-align: center;
    line-height: 150%;
    font-size: 16px;
    border-top: 1px solid #ddd;
    padding-bottom: 40px;
    padding-top: 200px;
    background-image: url('../img/ico_completed.png');
    background-repeat: no-repeat;
    background-size: 120px;
    background-position: 50% 50px;
}
.completed-area>h3>span{
    font-size: 18px;
    color: #ff6a5b;
    font-weight: 600;
}
.completed-area>h3>strong{
    font-size: 18px;
}
.completed-area input[type=text]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    border: 1px solid #ddd;
    height: 35px;
    line-height: 35px;
    width: 100%;
    padding: 0 10px;
    color: #888;
}
.completed-area>.item{
    background-color: #f3f2f4;
    padding: 15px;
}
.completed-area>.item>.order-item{
    background-color: #fff;
    padding: 15px;
}
.completed-area>.item>.order-item>h4{
    margin-bottom: 5px;
}
.completed-area>.item>.order-item>h4>strong{
    font-size: 14.5px;
    vertical-align: top;
}
.completed-area>.item>.order-item>h4>span{
    color: #ff6a5b;
    font-size: 14.5px;
    font-weight: 600;
    vertical-align: top;
}
.completed-area>.item>.order-item>p{
    font-size: 12px;
}
.completed-area>.item>.order-item>p>strong{
    font-size: 17px;
    color: #ff6a5b;
}
.completed-area>.shipping{
    background-color: #ffe9de;
    padding: 15px;
}
.completed-area>.shipping>div{
    background-color: #fff;
    padding: 15px;
}
.completed-area>.shipping>.site{
    border-bottom: 1px solid #ddd;
}
.completed-area>.shipping>.site>.ship-name{
    margin-bottom: 5px;
}
.completed-area>.shipping>.site>.ship-name:after{
    clear: both;
    display: block;
    content: '';
}
.completed-area>.shipping>.site>.ship-name>strong{
    font-size: 15px;
    float: left;
}
.completed-area>.shipping>.site>.address>p:first-child{
    margin-bottom: 5px;
}
.completed-area>.shipping>.site>.address>p>span:first-child:after{
    clear: both;
    content: '│';
    display: inline-block;
    margin-left: 3px;
    color: #ccc;
}
.completed-area>.shipping>.ship-memessage>p{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}
.completed-area>.shipping>.ship-memessage>.input-text{
    position: relative;
    border: 1px solid #ddd;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
}
.completed-area>.btn_area{
    padding: 10px;
    background-color: #fff;
}

.completed-area>.btn_area>button{
    float: left;
    height: 48px;
    line-height: 48px;
}
.completed-area>.btn_area>.btn-order{
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #ff6a5b;
    position: relative;
    font-size: 17px;
    font-weight: 600;
}
.completed-area>.btn_area>.btn-order>strong{
    font-size: 17px;
    font-weight: 600;
}
.completed-area>.btn_area>.btn-home{
    width: 100%;
    text-align: center;
    color: #ff6a5b;
    border: 1px solid #ff6a5b;
    position: relative;
    font-size: 17px;
    font-weight: 600;
    background-color: #fff;
    margin-top: 10px;
}
.completed-area>.btn_area>.btn-home>strong{
    font-size: 17px;
    font-weight: 600;
}
.main-tab{
    padding: 0 10px;
    height: 45px;
}
.main-tab.fixed{
    position: fixed;
    top: 45px;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 3;
    box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.25);
}
.main-tab:after{
    clear: both;
    display: block;
    content: '';
}
.main-tab>li{
    float: left;
    width: 33.333%;
    position: relative;
}
.main-tab>li>button{
    display: block;
    height: 45px;
    line-height: 45px;
    text-align: center;
    width: 100%;
    font-weight: 600;
    font-size: 15px;
}
.main-tab>li>button.active{
    color: #ff6a5b;
}
.main-tab>li>button.active:after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #ff6a5b;
    border-radius: 2px;
}

.item-list{
    background-color: #f3f2f4;
    padding: 15px 15px 0 15px;
}
.item-list:after{
    clear: both;
    display: block;
    content: '';
}
.item-list>li{
    float: left;
    width: calc(50% - 5px);
    background-color: #fff;
    margin-top: 10px;
    padding-bottom: 10px;
}
.item-list>li:first-child{
    margin-top: 0;
}
.item-list>li:nth-child(2){
    margin-top: 0;
}
.item-list>li:nth-child(even){
    margin-left: 5px;
}
.item-list>li:nth-child(odd){
    margin-right: 5px;
}
.item-list>li>.item-thomb{
    position: relative;
}
.item-list>li>.item-thomb>a{
    display: block;
}
.item-list>li>.item-thomb>a{
    margin-bottom: 10px;
    position: relative;
}
.item-list>li>.item-thomb>a>img{
    width: 100%;
}
.item-list>li>.item-thomb>.cart{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.item-list>li>.item-thomb>.cart.off{
    background-image: url('../img/ico_cart_off.png');
}
.item-list>li>.item-thomb>.cart.on{
    background-image: url('../img/ico_cart_on.png');
}
.item-list>li>.item-thomb>span{
    position: absolute;
    top: 10px;
    left: 0;
    background-color: #ff6a5b;
    color: #fff;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    border-radius: 0 25px 25px 0;
    z-index: 2;
}
.item-list>li>.item-name{
    padding: 0 10px;
    font-weight: 600;
    font-size: 14px;
    height: 40px;
    overflow: hidden;
    -webkit-line-clamp: 2; 
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 5px;
    display: block;
}
.item-list>li>.item-price{
    padding: 0 10px;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}
.item-list>li>.item-price>strong{
    font-size: 15px;
}
.item-list>li>.item-price>span{
    font-size: 14px;
}
.item-list>li>.item-price>em{
    font-size: 13px;
    text-decoration: line-through;
    color: #92918e;
}
.item-list>li>.item-shop{
    padding: 0 10px;
}
.main-swiper{
    margin-bottom: 10px;
}
.main-swiper a{
    display: block;
}
.main-swiper a>img{
    width: 100%;
}
.main-swiper .swiper-pagination{
    position: absolute;
    bottom: 27px;
    right: 0;
    left: auto;
    z-index: 2;
    width: 89px;
    background-color: #000;
    opacity: 0.7;
    color: #fff;
    height: 25px;
    line-height: 25px;
    border-radius: 30px 0 0 30px;
}
.main-swiper .swiper-pagination .more{
    font-size: 11px;
    color: #999;
    margin-left: 5px;
}
.recommend-swiper>h2{
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
}
.recommend-swiper .swiper-slide{
    width: 300px;
}
.recommend-swiper a{
    display: inline-block;
    position: relative;
}
.recommend-swiper a>img{
    width: 300px;
}
.recommend-swiper .swiper-slide>p{
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 290px;
    background-color: #fff;
    opacity: 0.9;
    padding: 10px;
}
.recommend-swiper .swiper-slide>p>strong{
    display: block;
    font-size: 13px;
}
.recommend-swiper .swiper-slide>p>span{
    display: block;
    font-size: 12px;
    font-weight: 600;
}
.recommend-swiper .swiper-slide>p>button{
    font-size: 0;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 25px;
    height: 20px;
    background: url('../img/ico-cart02.png') no-repeat 50% 50%;
    background-size: auto 100%; 
}
.banner>a>img{
    width: 100%;
}
.modal.add-cart{
    position: fixed;
    left: 0;
    bottom: -210px;
    width: 100%;
    z-index: 9;
}
.modal.add-cart>button{
    margin: 0 auto;
    display: -webkit-box;
    width: 40px;
    height: 20px;
    font-size: 0;
    background: url('../img/cart-modal-close.png') no-repeat;
    background-size: 100% auto;
}
.modal.add-cart>.box{
    background-color: #fff;
}
.modal.add-cart>.box>ul:after{
    content: '';
    clear: both;
    display: block;
}
.modal.add-cart>.box>ul{
    padding: 15px;
    border-bottom: 1px solid #ddd;
}
.modal.add-cart>.box>ul>li:first-child{
    float: left;
    text-align: left;
}
.modal.add-cart>.box>ul>li:first-child>*{
    float: left;
}
.modal.add-cart>.box>ul>li:last-child{
    float: right;
    text-align: right;
    height: 30px;
    line-height: 30px;
}
.modal.add-cart>.box>ul>li>input[type=number]{
    height: 30px;
    line-height: 30px;
    width: 50px;
    text-align: center;
    border: 0;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.modal.add-cart>.box>ul>li>button{
    font-size: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.modal.add-cart>.box>ul>li>button.plus{
    background-image: url('../img/quantity-plus.png');
}
.modal.add-cart>.box>ul>li>button.minus{
    background-image: url('../img/quantity-minus.png');
}
.modal.add-cart>.box>ul>li>strong{
    font-size: 14.5px;
}
.modal.add-cart>.box>ul>li>span{
    font-size: 13px;
}
.modal.add-cart>.btn_area{
    width: 100%;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #fff;
}
.modal.add-cart>.box>dl{
    padding: 15px;
}
.modal.add-cart>.box>dl:after{
    content: '';
    clear: both;
    display: block;
}
.modal.add-cart>.box>dl>dt{
    float: left;
    text-align: left;
    font-size: 14.5px;
    font-weight: 600;
}
.modal.add-cart>.box>dl>dd{
    float: right;
    text-align: right;
}
.modal.add-cart>.box>dl>dd>strong{
    color: #ff6a5b;
    font-size: 17px;
}
.modal.add-cart>.btn_area>button{
    height: 48px;
    line-height: 48px;
}
.modal.add-cart>.btn_area>.btn-order{
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #ff6a5b;
    position: relative;
    font-size: 17px;
    font-weight: 600;
}
.modal.add-cart>.btn_area>.btn-order>span{
    font-size: 17px;
    font-weight: 600;
}
.modal.add-cart>.btn_area>.btn-order>strong{
    font-size: 17px;
    font-weight: 600;
}
.detail-tab{
    padding: 0 10px;
    height: 45px;
    border-top: 1px solid #eee;
}
.detail-tab:after{
    clear: both;
    display: block;
    content: '';
}
.detail-tab>li{
    float: left;
    width: 33.333%;
    position: relative;
}
.detail-tab>li>button{
    display: block;
    height: 45px;
    line-height: 45px;
    text-align: center;
    width: 100%;
    color: #555555;
    font-size: 15px;
}
.detail-tab>li>button.active{
    color: #000;
    font-weight: 600;
}
.detail-area{
    padding-bottom: 70px;   
}
.detail-area .detail-swiper img{
    width: 100%;
}
.detail-area>.detail-item{
    padding: 15px;
    background-color: #f3f2f4;
}
.detail-area>.detail-item>div{
    background-color: #fff;
    padding: 15px;
    position: relative;
    margin-bottom: 1px;
}
.detail-area>.detail-item>div>h3{
    margin-bottom: 10px;
}
.detail-area>.detail-item>div>h3>strong{
    font-size: 14.5px;
    vertical-align: top;
}
.detail-area>.detail-item>div>button{
    width: 20px;
    height: 23px;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 0;
    background: url('../img/ico_share.png') no-repeat;
    background-size: 100% auto;
}
.detail-area>.detail-item>div>p{
    font-size: 12px;
    margin-bottom: 15px;
}
.detail-area>.detail-item>div>p>strong{
    font-size: 17px;
    color: #ff6a5b;
}
.detail-area>.detail-item>div>p>span{
    font-size: 13px;
    color: #92918e;
    text-decoration: line-through;
    margin-left: 5px;
}
.detail-area>.detail-item>div>em{
    color: #90cf66;
}
.detail-area>.detail-item>dl{
    background-color: #fff;
    padding: 10px 15px;
}
.detail-area>.detail-item>dl:after{
    content: '';
    clear: both;
    display: block;
}
.detail-area>.detail-item>dl>*{
    float: left;
    height: 30px;
    line-height: 30px;
    color: #888;
    font-size: 15px;
}
.detail-area>.detail-item>dl>dt{
    width: 150px;
}
.detail-area>.detail-item>dl>dd{
    width: calc(100% - 150px);
}
.detail-area>.detail-view>img{
    width: 100%;
}
.detail-area>.detail-info>h4{
    padding: 25px 15px 15px;
    font-weight: 600;
    font-size: 14.5px;
}
.detail-area>.detail-info>.img{
    background-color: #f7f7f7;
    border-top: 1px solid #dfdfdf;
}
.detail-area>.detail-info>.img>img{
    width: 100%;
    max-width: 380px;
}
.detail-area>.detail-info>.help.img{
    background-color: #fff;
    border-top: 1px solid #dfdfdf;
    padding: 15px;
}
.detail-area>.detail-info>.help.img>p{
    background-color: #fff6ce;
}
.detail-area>.detail-info>.help.img>p>img{
    width: 100%;
    max-width: 380px;
}
.detail-area>.btn_area{
    width: 100%;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
}
.detail-area>.btn_area>button{
    height: 48px;
    line-height: 48px;
}
.detail-area>.btn_area>.btn-order{
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #ff6a5b;
    position: relative;
    font-size: 17px;
    font-weight: 600;
}
.detail-area>.btn_area>.btn-order>span{
    font-size: 17px;
    font-weight: 600;
}
.detail-area>.btn_area>.btn-order>strong{
    font-size: 17px;
    font-weight: 600;
}
.curation{
    padding: 0 15px;
    border-bottom: 1px solid #eaeaea; 
}
.curation:after{
    content: '';
    clear: both;
    display: block;
}
.curation>li{
    float: left;
    width: 33.3333%;
}
.curation>li>img{
    width: 100%;
}
.curation-box{
    background-color: #f3f2f4;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}
.curation-swiper>h2{
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
}
.curation-swiper .swiper-slide{
    background-color: #fff;
}
.curation-swiper .swiper-slide>img{
    width: 100%;
}
.banner-curation{
    margin-top: 10px;
}